//font styling
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
$font-family: 'Signika', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$h1-font-size: 55px;
$h2-font-size: 34px;
$h3-font-size: 22px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$normal-font-size: 14px;
//colors
$base-color: #fff;
$primary-color: #FFDF31;
$secondary-color: #C92E00;
$black-color: #000;